<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Micro_Project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DemoSignUp</display-name>
    <servlet-name>DemoSignUp</servlet-name>
    <servlet-class>controller.DemoSignUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoSignUp</servlet-name>
    <url-pattern>/DemoSignUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoCreate</display-name>
    <servlet-name>DemoCreate</servlet-name>
    <servlet-class>controller.DemoCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoCreate</servlet-name>
    <url-pattern>/DemoCreate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoProduct</display-name>
    <servlet-name>DemoProduct</servlet-name>
    <servlet-class>controller.DemoProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoProduct</servlet-name>
    <url-pattern>/DemoProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoPanier</display-name>
    <servlet-name>DemoPanier</servlet-name>
    <servlet-class>controller.DemoPanier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoPanier</servlet-name>
    <url-pattern>/DemoPanier</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoCommande</display-name>
    <servlet-name>DemoCommande</servlet-name>
    <servlet-class>controller.DemoCommande</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoCommande</servlet-name>
    <url-pattern>/DemoCommande</url-pattern>
  </servlet-mapping>
  
   <servlet>
    <description></description>
    <display-name>DemoDetail</display-name>
    <servlet-name>DemoDetail</servlet-name>
    <servlet-class>controller.DemoDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoDetail</servlet-name>
    <url-pattern>/DemoDetail</url-pattern>
  </servlet-mapping>
</web-app>